[submodule "external/duco_ros2_driver"]
	path = external/duco_ros2_driver
	url = https://github.com/yizhongzhang1989/duco_ros2_driver.git
[submodule "external/cartesian_controllers"]
	path = external/cartesian_controllers
	url = https://github.com/yizhongzhang1989/cartesian_controllers.git
	branch = ros2
[submodule "src/alicia_leader"]
	path = src/alicia_leader
	url = https://github.com/yizhongzhang1989/Alicia-D-Leader-ROS.git
	shallow = true
[submodule "external/cartesian_controllers_toolkit"]
	path = external/cartesian_controllers_toolkit
	url = https://github.com/yizhongzhang1989/cartesian_controllers_toolkit.git
[submodule "external/inverse_kinematics_toolkit"]
	path = external/inverse_kinematics_toolkit
	url = https://github.com/yizhongzhang1989/inverse_kinematics_toolkit.git
[submodule "external/3dconnexion_ros2"]
	path = external/3dconnexion_ros2
	url = https://github.com/yizhongzhang1989/3dconnexion_ros2.git
[submodule "external/robot_test_dashboard"]
	path = external/robot_test_dashboard
	url = https://github.com/yizhongzhang1989/robot_test_dashboard.git
