[submodule "external/duco_ros2_driver"]
	path = external/duco_ros2_driver
	url = https://github.com/yizhongzhang1989/duco_ros2_driver.git
[submodule "external/cartesian_controllers"]
	path = external/cartesian_controllers
	url = https://github.com/yizhongzhang1989/cartesian_controllers.git
	branch = ros2
